.header {
  background-color: gold;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.header nav {
  display: flex;
  gap: 2rem;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 55px;
}
